<html>
<head>
    <title>需求详情填写</title>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

    <script src="/js/Publish_Details.js"></script>
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
<br/><br/><br/><br/>
<div class="container" rec_id="div" v-cloak>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form rec_id="publish" action="/publish.requirement" method="post">
                <div class="form-group">
                    <label for="rr_num">招聘人数</label><input type="number" name="rr_num" rec_id="rr_num" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="rr_wp_id">工作地点</label>
                    <select class="form-control" rec_id="rr_wp_id" name="rr_wp_id">
                        <option v-for="wp in wpn" :value="wp.wp_id">{{wp.wp_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rr_wp_id">员工类型</label>
                    <select class="form-control" rec_id="rr_st_id" name="rr_st_id">
                        <option v-for="st in stn" :value="st.st_id">{{st.st_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rr_el">截止日期</label><br/>
                    <input type="datetime-local" class="form-control" rec_id="rr_el" name="rr_el"/>
                </div>
                <div class="form-group">
                    <label for="rr_ept">工作年限</label><input type="number"name="rr_ept" rec_id="rr_ept" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="rr_ed_id">紧急度</label>
                    <select class="form-control" rec_id="rr_ed_id" name="rr_ed_id">
                        <option v-for="em in emn" :value="em.ed_id">{{em.ed_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="summernote">特殊要求</label>
                    <div rec_id="summernote"><p></p></div>
                    <script>
                        $(document).ready(function() {
                            $('#summernote').summernote({
                                height: 300,
                                minHeight: 300
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <input type="hidden" name="rr_spreq" rec_id="rr_spreq" class="form-control"/>
                </div>
                <button type="button" class="btn btn-default" onclick="checkForm()">提交</button>
            </form>
            <br><br><br><br>
        </div>
    </div>
</div>
</body>
</html>
